* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Montserrat';
}

.reveal {
    position: relative;
    transform: translateY(100px);
    opacity: 0;
    transition: 1s all ease;
}

.reveal.active {
    transform: translateY(0);
    opacity: 1;
}

.reveal_tit {
    position: relative;
    transform: translateX(0px);
    opacity: 0;
    transition: 1s all linear;
}

.reveal_tit.active {
    transform: translateY(0);
    opacity: 1;
}

html {
    scroll-behavior: smooth;
}

header {
    position: fixed;
    z-index: 100;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
    width: 100%;
}

header nav {
    display: flex;
    justify-content: center;
    gap: 20px;
}

header a {
    color: #BD3662;
    font-weight: 600;
    transition: all .25s ease-in-out;
}

header a.ancla-principal{
    font-size: 28px;
}

header nav a:hover {}

header .contenedor-1200 {
    padding-bottom: 40px;
    padding-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

body {
    background-image: linear-gradient(0deg,
            hsl(324deg 65% 90%) 0%,
            hsl(202deg 100% 86%) 13%,
            hsl(244deg 99% 93%) 33%,
            hsl(244deg 99% 93%) 58%,
            hsl(202deg 100% 86%) 83%,
            hsl(324deg 65% 90%) 100%);
}

.contenedor-1200 {
    width: 100%;
    max-width: 1200px;
    padding: 16px;
    margin: 0 auto;
}

article.tarjeta {
    position: sticky;
    top: 20vh;
    width: 90%;
    max-width: 1000px;
    height: 600px;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.375);
    box-shadow: 0 0.75rem 2rem 0 rgba(0, 0, 0, 0.1);
    border-radius: 2rem;
    border: 1px solid rgba(255, 255, 255, 0.125);
}

article.contenido {
    overflow: auto;
    -webkit-scroll-snap-type: y mandatory;
    -ms-scroll-snap-type: y mandatory;
    scroll-snap-type: y mandatory;
}

section.tarjeta {
    scroll-snap-align: start;
    position: relative;
    z-index: 10;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-content: center;
}

section.tarjeta .contenedor-inf {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

section.tarjeta .descripcion-producto {
    max-width: 55%;
    font-size: 18px;
}

section.tarjeta .img-producto {
    height: 600px;
    filter: drop-shadow(-5px 4px 10px rgba(0, 0, 0, 0.3));
}

.titulo-producto {
    font-size: 50px;
    color: #BD3662;
}

.contenedor-precio {
    position: relative;
}

.contenedor-precio svg {
    width: 110px;
    /* position: absolute; */
    transform: rotate(242deg);
}

.precio-producto {
    position: absolute;
    color: white;
    font-size: 22px;
    top: 40%;
    left: 20px;
}

section.tarjeta .contenedor-1200 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.principal {
    height: 100vh;
}

.principal .titulo-principal {
    text-align: center;
    font-size: 80px;
    margin-top: 140px;
    color: mistyrose;
    color: aliceblue;
    font-family: 'Alkatra', cursive;
    font-family: 'Montserrat';

}

